@import url(font.css);
body{
    margin: 0px;
    padding:0px;
    background-image: radial-gradient(circle at 1px 1px, #fafafa 1.5px, transparent 0);
    background-size: 10px 10px;
}
*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
    width:100%;
}
.box{
    padding: 70px 100px;
}
.top-info{
    background-color: #9d5e5e;
    color: #f7f4f4;
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    
}
.contact1{
    font-family: rl;
    font-size: 13px;
    display: flex;
    gap:20px;
}

.contact2{
     font-family: rl;
    font-size: 12px;
    display: flex;
    gap:20px;
   
}
.contact2 a{
    text-decoration: none;
     color: #fff;
    
}
.topheader{
     padding:15px 100px;
     display: flex;
     align-items: center;
      background-color: #9e7a7a;
      
}
.comp-name{
    font-family: rb;
    display: flex;
    width:30%;
    align-items: center;
    gap: 2px;
}
.comp-name h2{
    color: gold;
    font-size: 25px;
}
.comp-name span{
   padding: 0px;
   font-size: 25px;
}
.header-menu{
    width:50%; 
}
.header-menu a{
    text-decoration: none;
    color: #fff;
    padding: 25px;
    font-family: rm; 
     font-size: 13px;
}
.header-option{
    width:20%;
    display: flex;
    justify-content: end;
    font-family: rbl;
    font-weight: 300;  
    align-items:center ;
    gap:25px;
}

.header-option a{
    text-decoration: none;
    color: #fff;
   text-align: right;
    font-size: 13px;
}
.header-option .coated{
    background-color: gold;
    color:  #473d3d;
    border-radius: 50px;
    padding: 10px;
   
}
.topmenu{ 
    padding: 10px 100px; 
    
}
.topmenu ul{
      gap:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9d5e5e;
    font-family: rl;
    font-size: 13px;
}
.real-bott{
    background-color: #9d5e5e;
    position:relative;
    overflow: hidden;
  
}
.real-bott1 h6{
    width:300px;
    height:300px;
    border-radius: 50%;
    background-color: rgb(228, 193, 193, 0.1);
    top:-35px;
    right:-55px;
    position:absolute;
}
.real-bott1{
     background-color: #9e7a7a;
     margin:20px 0px;
     padding: 70px 50px;
     border-radius: 20px;
}
.real-bott-1 h2{
   font-family: rl;
   font-size: 20px;
   color: #fff;
   font-weight: 600;
}
.real-bott2{
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
   
}
.real-bott-name{
    display: flex;
    padding: 0px;
    margin: 0px;
    gap:3px;
}
.real-bott-name span{
    color: gold;
    font-family: rm;
    font-size: 25px;
}
.real-bott-name h2{
    font-size: 25px;
    font-family: rm;
}
.real-bottz a{
    text-decoration: none;
    color: #000;
    font-family: rl;
    font-size: 12px;
}
.real-bottz small{
    color: rgb(148, 138, 90);
     font-family: rl;
    font-size: 12px;
    font-weight: 600;
}
.real-bottz{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 15px 5px;
}

.realbiz1{
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    
}
.realbiz2{
   padding: 5px 0px;
}
.realbiz2 small{
    font-family: rl;
    font-size: 15px;
    font-weight: 600;
}
.realbiz1 h2{
    font-family: rl;
    font-weight: 600;
    font-size: 45px;
    width: 50%;
}
.realz{
    background-color: #fff;
    border-radius: 50px;
    width: 30%;
    padding:7px;
    display: flex;
    justify-content: space-between;
}
.realbiz span{
    background-color:gold;
    border-radius: 50px;
    padding: 15px 20px;
    font-family: rl;
    font-size: 13px;
    font-weight: 600;
}
.realz button{
    background-color: gold;
    border: 0px;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: rm;
}
.realz input{
    border: 0px;
}
.comp-bott1{
    padding: 15px 0px;
    line-height:20px;
    display: flex;
}
.comp-bott{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.comp-bott1 h3{
    font-family: rl;
    font-size: 13px;
}
.comp-bott h2{
   font-family: rm;
   font-weight: 600;
}
.comp-bott small{
    font-family: rl;
    font-weight: 600;
}
.real-bott3{
    display:flex;
    justify-content: space-between;
}
.real-bott3a  a{
   text-decoration: none;
   color:#000  ;
   font-family: rl;
   font-size: 13px;
}
.real-bott3{
    border-top: 1px solid rgb(148, 138, 90);
    border-bottom: 1px solid rgb(148, 138, 90);
}
.real-bott3a{
    display: flex;
    gap:15px;
}
.real-bott4{
 padding-top: 25px;
 display: flex;
  justify-content: space-between;
}
.real-bott4a{
    display: flex;
    gap:40px;
   
}
.real-bott4a a{
    text-decoration: none;
    font-family: rl;
    color: #000;
    font-size: 13px;
}
.real-bott4a span{
      font-family: rl;
    color: #000;
    font-size: 13px;
}
.tunnel{
    padding:40px 100px;
}
.agency-proof{
   background-color: rgb(247, 243, 221); 
   display: flex;
   justify-content: space-between;   
}
.agency-proof1{
    background-color: rgb(247, 243, 221); 
    padding:10px 100px;
}
.agcy-pro1{
   padding:0px;
   flex-direction: column; 
   line-height: 50px;
}
.agcy-pro1 span{
    background-color: gold;
    color:#473d3d;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 12px;
    font-family: rm;
    font-weight: 600;
}
.agcy-pro1 small{
    color:#646262 ;
    font-family: rm;
    font-size: 13px;
}
.agcy-pro1 h2{
    font-family: rl;
    font-weight: 600;
    color:#9d5e5e;
    font-size: 45px;
}
.agcy-pro2{
    padding:0px;
}
.agcy-pro2 span{
    color: gold;
    font-family: rm;
    font-size: 35px;
    font-weight: 600;
}
.agenda1{
    padding:  0px;
    width:100%;
}
.agenda1 img{
    height:500px;
    width:100%;
    object-fit: cover;
    border-radius: 20px;
}
.agenda1 img img{
    width:100%;
    height:100%;
}
.agenda2{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(4, 1fr);
    padding:10px 0px;
}
.agenda2 img{
     height:130px;
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}
.agenda2 img img{
     width:100%;
    height:100%; 
}
.agency-proof2{
    display: flex;
    padding:20px 100px;
    background-color: rgb(247, 243, 221); 
    height:1400px;
    gap:25px;
}
.agent1{
    display: flex;
    flex-direction: column;
    width:65%;
}
.agent2{
    display: flex;
    flex-direction: column;
    width:35%;
}
.agent-a{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:15px;
    padding: 20px 0px;
}
.agentee{
    background-color: #dbd1d1;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.agentee span{
    color: #646262;
    font-family:rl ;
    font-weight: 600;
    font-size: 13px;
}
.agentee h2{
    color: #9d5e5e;
    font-family: rm;
    font-weight: 600;
    font-size: 20px;
}
.agent-b{
    background-color: #dbd1d1;
    padding:40px  30px;
    margin: 15px 0px;
    border-radius: 10px;
    
}
.agent-b h2{
    font-family: rl;
    font-weight: 600;
    color: #9d5e5e;
    font-size: 30px;
    padding-bottom: 20px;
}
.agent-b span{
    font-family: rl;
    font-weight: 600;
    font-size: 11px;
}
.agent-c{
    background-color: #dbd1d1;
    padding: 35px;
    margin: 15px 0px;
    border-radius: 15px;
}
.agent-c h2{
    font-family: rm;
    font-size: 30px;
    font-weight: 600;
    color: #9d5e5e;
}
.abt-faci{
    padding: 20px 25px;
}
.abt-faci ul{
     display: flex;
    gap: 20px;
    width:100%;
}
.abt-faci ul li{
    width:50%;
    background-color: rgb(247, 243, 221);
    border-radius: 10px;
    padding: 15px 25px;
    font-family: rl;
    font-weight: 600;
    font-size: 14px;
    color: #646262;
}
.agent-d{
    background-color: #dbd1d1;
    padding: 30px 50px;
    margin: 15px 0px;
    border-radius: 20px;
    height:400px;
}
.agent-d h2{
    font-family: rl;
    font-weight: 600;
    color: #9d5e5e;
    font-size: 30px;
}
.abt-agent span{
   font-family: rl;
   font-weight: 600;
   font-size: 12px;
}
.abt-agent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 243, 221);
    margin: 30px 0px;
    height:320px;
    border-radius: 20px;
}
.agency-proof3{
    padding:0px 100px;
}
.agency-proof3 a{
    text-decoration: none;
    color: rgb(128, 128, 250);
    font-family: rl;
    font-size: 12px;
    font-weight: 600;
}
.proof1{
    padding: 0px;
}
.proof1 span{
    font-family: rl;
    font-weight: 600;
    font-size: 11px;
}
.proof1 h2{
    font-family: rl;
    color: #9d5e5e;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0px;
}
.proof1 small{
    font-family: rl;
    color:#646262;
    font-weight: 600;
    font-size: 10px;
}
.proof2{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    width:80%;
}
.proof2 img{
    height:600px;
    width:100%;
}
.proof2 span{
    color: #646262;
    font-family: rl;
    font-weight: 600;
    font-size: 17px;
    padding: 5px 0px;
}
.proof2 h2{
    color: #646262;
    font-family: rl;
    font-size: 20px;
    font-weight: 600;
}
.proof2 small{
    color: #646262;
    font-family: rl;
    font-size: 13px;
    padding: 3px 0px;
}
.proof3{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    width:80%;
}
.proof3 a{
    text-decoration: none;
    color: rgb(128, 128, 250);
    font-family: rl;
    font-size: 12px;
    font-weight: 600;
}
.proof3 img{
    height:600px;
    width:100%;
}
.proof3 span{
    color: #646262;
    font-family: rl;
    font-weight: 600;
    font-size: 17px;
    padding: 5px 0px;
}
.proof3 h2{
    color: #646262;
    font-family: rl;
    font-size: 20px;
    font-weight: 600;
}
.proof3 small{
    color: #646262;
    font-family: rl;
    font-size: 13px;
    padding: 3px 0px;
}
.proof4{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    width:80%;
}
.proof4 a{
    text-decoration: none;
    color: rgb(128, 128, 250);
    font-family: rl;
    font-size: 12px;
    font-weight: 600;
}
.proof4 img{
    height:600px;
    width:100%;
}
.proof4 span{
    color: #646262;
    font-family: rl;
    font-weight: 600;
    font-size: 17px;
    padding: 5px 0px;
}
.proof4 h2{
    color: #646262;
    font-family: rl;
    font-size: 20px;
    font-weight: 600;
}
.proof4 small{
    color: #646262;
    font-family: rl;
    font-size: 13px;
    padding: 3px 0px;
}
.agent-style1{
    padding:20px 0px;
     display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:7px;
}
.agent-style1 img{
    width:30%;
    height:120px;
    border-radius: 10px;
   object-fit: cover;
}
.agent-style1 img img{
    width:100%;
    height:100%;
}
.agent-style1 h2{
    font-family: rl;
    font-size: 20px;
    color: #9d5e5e;
}
.agent-style1 span{
    font-family: rl;
    font-weight:600 ;
    font-size: 12px;
    color: #646262;
}
.agent-style2{
    padding: 0px;

}
.agent-style2 a{
    text-decoration: none;
    background-color: #9d5e5e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: rl;
    font-size:12px ;
    padding:15px;
    border-radius: 10px;
}
.agent-style h2{
    color:#9e7a7a;
}
.agent-style{
    background-color: #dbd1d1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
     border-radius: 10px;
}
.agent-style h2{
    font-family: rl;
    font-weight: 600;
    color: #a15b5b;
    font-size: 20px;
}
.agent-style input{
    background-color: #f7f4f4;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    color: #969595;
}
.agent-style textarea{
    background-color: #f7f4f4;
     padding:15px;
    border-radius: 10px;
    border: 0px;
    height:100px;
    color: #969595;
    font-family: rm;
}
.agent-style a{
    text-decoration: none;
    background-color: gold;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: rl;
    font-size: 13px;
    color: #000;
    font-weight: 600;
}